h6 {
  font-size: 12px;
  font-color: #797979;
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  font-size: 18px;
}

input {
  width: 50%;
  border: solid 1px #DEDEDE;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
