button {
  background-color: #f60;
  color: white;
}

.email {
  margin-bottom: 1em;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;
}

.subscribe {
  width: 20%;
  float: right;
  margin-right: 5%;
}
