.topics {
  width: 20%;
  float: left;
  margin-left: 5%;
}

h6{
  margin-top: 40px;
  margin-bottom: 3em;
}

p {
  font-weight: 300;
  font-size: 14px;
  color: #2F2F2F;
}

p:hover {
  color: #f60;
}

img {
  max-height: 15px;
  padding-right: 7px;
}
